<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheng.api.modules.sys.mapper.SysUserMapper">

    <!-- 删除角色菜单关联表 -->
    <delete id="deleteRoleMenuByRoleId">
        DELETE
        FROM sys_role_menu
        WHERE role_id = #{roleId}
    </delete>

    <!-- 保存角色菜单关联表 -->
    <insert id="insertRoleMenu">
        INSERT INTO sys_role_menu(role_id, menu_id)
        <foreach collection="menuIds" item="menuId" separator=" union all ">
            SELECT #{roleId}, #{menuId}
        </foreach>
    </insert>

    <!-- 删除用户和角色关联表数据 -->
    <delete id="deleteUserRoleByUserId">
        DELETE
        FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>

    <!-- 插入用户和角色关联表数据 -->
    <insert id="insertUserRole">
        INSERT INTO sys_user_role(user_id, role_id)
        <foreach collection="roleIds" item="roleId" separator=" union all ">
            SELECT #{userId}, #{roleId}
        </foreach>
    </insert>

    <insert id="insertVendorCoder">
        INSERT INTO sys_vendor_coder(vendor_id, coder_id)
        <foreach collection="coderIds" item="coderId" separator=" union all ">
            SELECT #{vendorId}, #{coderId}
        </foreach>
    </insert>

    <insert id="deleteVendorCoderByVendorId">
        DELETE
        FROM sys_vendor_coder
        WHERE vendor_id = #{vendorId}
    </insert>

    <!-- 根据roleId查询用户 -->
    <select id="selectRoleByUserId" resultType="com.cheng.api.modules.sys.bean.SysRole">
        SELECT id,
               office_id,
               name,
               enname,
               role_type,
               data_scope,
               is_sys,
               useable,
               create_by,
               create_date,
               update_by,
               update_date,
               remarks,
               del_flag
        FROM sys_role a
                 LEFT JOIN sys_user_role sur ON sur.role_id = a.id
        WHERE a.del_flag = 0
          AND sur.user_id = #{userId}
    </select>

    <select id="selectMenuByUserId" resultType="com.cheng.api.modules.sys.bean.SysMenu">
        SELECT DISTINCT id,
                        parent_id,
                        parent_ids,
                        name,
                        sort,
                        href,
                        target,
                        icon,
                        type,
                        permission,
                        create_by,
                        create_date,
                        update_by,
                        update_date,
                        remarks,
                        del_flag
        FROM sys_menu a
                 JOIN sys_role_menu rm ON rm.menu_id = a.id
                 JOIN sys_user_role ur ON ur.role_id = rm.role_id
        WHERE a.del_flag = 0
          AND ur.user_id = #{userId}
        ORDER BY a.sort
    </select>

    <select id="selectMenuByRoleId" resultType="com.cheng.api.modules.sys.bean.SysMenu">
        SELECT DISTINCT id,
                        parent_id,
                        parent_ids,
                        name,
                        sort,
                        href,
                        target,
                        icon,
                        type,
                        permission,
                        create_by,
                        create_date,
                        update_by,
                        update_date,
                        remarks,
                        del_flag
        FROM sys_menu a
                 JOIN sys_role_menu rm ON rm.menu_id = a.id
        WHERE a.del_flag = 0
          AND rm.role_id = #{roleId}
        ORDER BY a.sort
    </select>

    <select id="selectAllMenu" resultType="com.cheng.api.modules.sys.bean.SysMenu">
        SELECT DISTINCT id,
                        parent_id,
                        parent_ids,
                        name,
                        sort,
                        href,
                        target,
                        icon,
                        type,
                        permission,
                        create_by,
                        create_date,
                        update_by,
                        update_date,
                        remarks,
                        del_flag
        FROM sys_menu a
        WHERE a.del_flag = 0
        ORDER BY a.sort
    </select>

    <select id="selectCoderByVendorId" resultType="com.cheng.api.modules.sys.bean.SysUser">
        SELECT DISTINCT u.*
        FROM sys_user u
                 JOIN sys_vendor_coder vc ON vc.coder_id = u.id
        WHERE u.del_flag = '0'
          AND vc.vendor_id = #{vendorId}
    </select>

    <select id="getMemberByVendorId" resultType="com.cheng.api.modules.sys.bean.SysUser">
        (SELECT u.*
         FROM sys_user u
                  JOIN sys_user u1 ON u1.id = u.parent_id
                  JOIN sys_vendor_coder vc ON vc.coder_id = u1.parent_id
         WHERE u.del_flag = '0'
           AND vc.vendor_id = #{vendorId}
        )
        UNION
        (
            SELECT u.*
            FROM sys_user u
                     JOIN sys_vendor_coder vc ON vc.coder_id = u.parent_id
            WHERE u.del_flag = '0'
              AND vc.vendor_id = #{vendorId}
        )
        UNION
        (
            SELECT u.*
            FROM sys_user u
                     JOIN sys_vendor_coder vc ON vc.coder_id = u.id
            WHERE u.del_flag = '0'
              AND vc.vendor_id = #{vendorId}
        )
    </select>

    <select id="selectUserByRoleId" resultType="com.cheng.api.modules.sys.bean.SysUser">
        SELECT a.*
        FROM sys_user a
                 JOIN sys_user_role sur ON sur.user_id = a.id
        WHERE a.del_flag = '0'
          AND sur.role_id = #{roleId}
    </select>

    <select id="selectList" resultType="com.cheng.api.modules.sys.bean.SysUser">
        SELECT a.*
        FROM sys_user a
        WHERE a.del_flag = '0'
        ORDER BY a.create_date DESC
    </select>

</mapper>
