<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8"/>
    <script src="http://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
    <title>To You</title>
    <script>
        /* 鼠标点击特效 */
        var a_idx = 0;
        jQuery(document).ready(function ($) {
            $("body").click(function (e) {
                var a = ["富强", "民主", "文明", "和谐", "自由", "平等", "公正", "法治", "爱国", "敬业", "诚信", "友善"];
                var $i = $("<span/>").text(a[a_idx]);
                a_idx = (a_idx + 1) % a.length;
                var x = e.pageX,
                    y = e.pageY;
                $i.css({
                    "z-index": 99999999,
                    "top": y - 20,
                    "left": x,
                    "position": "absolute",
                    "font-weight": "bold",
                    "color": "#ff6651"
                });
                $("body").append($i);
                $i.animate({
                        "top": y - 180,
                        "opacity": 0
                    },
                    1500,
                    function () {
                        $i.remove();
                    });
            });
        });
    </script>
    <style>
        .middle-box {
            width: 300px;
            z-index: 100;
            margin: 0px auto;
            padding: 20px 40px 500px 40px;
            background-color: #f5f5f5f5;
        }
    </style>
</head>
<body style="background: #f5f5f5f5; overflow: hidden;">
<div class="middle-box">
        <pre style="line-height: 25px;color: #999999;font-size: 14px;">
人终究会被年少不可得之物困扰一生
我们穷极一生想要得到或许是别人的与生俱来
人生不过如此，好好活着
        </pre>
</div>
</body>
</html>
